*{

margin:0;
padding:0;
box-sizing:border-box;

}

body{

background:#111;

color:white;

font-family:Arial,Helvetica,sans-serif;

}

header{

display:flex;

justify-content:space-between;

align-items:center;

padding:30px 60px;

background:#181818;

}

nav{

display:flex;

gap:25px;

}

nav a{

color:white;

text-decoration:none;

transition:.2s;

}

nav a:hover{

color:#8ac7ff;

}

.hero{

height:85vh;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

text-align:center;

}

.hero h2{

font-size:58px;

margin-bottom:20px;

}

.hero p{

font-size:20px;

opacity:.7;

margin-bottom:40px;

}

button{

padding:16px 40px;

font-size:18px;

background:white;

border:none;

border-radius:10px;

cursor:pointer;

transition:.25s;

}

button:hover{

transform:translateY(-4px);

}

.character-grid{

display:grid;

grid-template-columns:
repeat(auto-fit,minmax(260px,1fr));

gap:35px;

margin-top:45px;

}

.character-card{

background:#1b1b1b;

border-radius:18px;

overflow:hidden;

transition:.3s;

}

.character-card:hover{

transform:translateY(-8px);

}

.character-card img{

width:100%;

display:block;

}

.character-card h3{

padding:18px 20px 8px;

}

.character-card p{

padding:0 20px;

opacity:.75;

}

.character-card a{

display:block;

padding:20px;

color:#8ac7ff;

font-weight:bold;

}

.logo{
    height:48px;
    width:auto;
    object-fit:contain;
}
